html {
    background: #000
}

footer {
    text-align: center;
    padding: 1vh 15vw;
}

body,
p {
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    position: relative;
    margin: none;
    letter-spacing: 0.025rem;
}

h1 {
    font-family: Jost, sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    color: #fff;
    line-height: 1em;
    margin-block-start: .2rem;
    margin-block-end: .2rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h2 {
    font-family: Jost, sans-serif;
    font-weight: 400;
    color: #fff;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    position: relative;
    padding: 15vh 15vw 10vh 15vw;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem
}

.mobile {
    display: none;
}

.card {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    z-index: 0;
    overflow: hidden;
    margin: 1rem;
    -webkit-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -moz-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -o-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    opacity: .95
}

.card:hover {
    background-color: rgba(255, 255, 255, .15);
    -webkit-box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 5);
    -moz-box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 5);
    box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 5);
    transform: scale(1.01);
}

.card > .content {
    margin: 1rem;
}

.definitions {
    margin-left: 3em
}

.extrabold {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.logo {
    width: fit-content;
    background: #ce3739;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    -webkit-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -moz-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -o-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    transform-origin: top left;
}

.logo > p {
    margin: 0;
}

.logo:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0.5rem solid #ce3739;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid #ce3739;
    border-bottom: 0.5rem solid transparent;
    left: 0rem;
    bottom: -0.75rem;
}

a {
    text-decoration: none
}

.overlay {
    position: fixed;
    -webkit-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -moz-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -o-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    z-index: 10;
}

.buttons {
	position: absolute;
	bottom: 0;
	width: 3rem;
}

.header-content{
    padding: 1rem;
}

.social-icons > a > i {
    font-size: 1.5rem;
    padding: 0 0 0 1.5rem;
    line-height: 5rem;
    opacity: 0.6;
    color: #fff;
    -webkit-transition: all .3s cubic-bezier(.52,.08,.28,1.52);
    -moz-transition: all .3s cubic-bezier(.52,.08,.28,1.52);
    -o-transition: all .3s cubic-bezier(.52,.08,.28,1.52);
    transition: all .3s cubic-bezier(.52,.08,.28,1.52);
}

.social-icons > a:first-of-type > i {
    padding: 0;
}

.social-icons > a > i:visited {
    transform: scale(1.1);
    opacity: 1;
    color: #fff;
}

.social-icons > a > i:hover {
    transform: scale(1.1);
    opacity: 1;
}

.scroll {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    bottom: 1.5rem;
    right: 1.5rem;
    text-align: center;
    -webkit-transition: all .3s cubic-bezier(.52,.08,.28,1.52);
    -moz-transition: all .3s cubic-bezier(.52,.08,.28,1.52);
    -o-transition: all .3s cubic-bezier(.52,.08,.28,1.52);
    transition: all .3s cubic-bezier(.52,.08,.28,1.52);
    transform: scale(0);
}

.scroll i {
    color: #fff;
    height: 3rem;
    width: 3rem;
    left: 0;
    line-height: 3rem
}


.tag-container {
    display: flex;
    align-items: center
}

.tag {
    font-family: Jost, sans-serif !important;
    font-weight: 600;
    font-size: 1rem;
    padding-right: .25rem;
    padding-left: .25rem;
    margin: .25rem;
    width: auto
}

.tag:first-child {
    margin-left: 0
}

.red {
    background-color: #ce3739
}

.blue {
    background-color: #227e7b
}

.green {
    background-color: #33a82d
}

.purple {
    background-color: #47328f
}

.yellow {
    background-color: #d07b37
}

.button {
    width: auto;
    background-color: #ce3739;
    border: none;
    color: #fff;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin: .5rem;
    margin-left: 0;
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -moz-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -o-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    transition: all .3s cubic-bezier(.52,.08,.28,2.52);
}

.button:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

#aboutyou,
#unibremen {
    display: inline-block;
    border-bottom: 0.2em solid;
    border-bottom-color: rgba(255, 255, 255, .25);
    font-weight: 600;
    line-height: 0.8em;
    -webkit-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -moz-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    -o-transition: all .3s cubic-bezier(.52,.08,.28,2.52);
    transition: all .3s cubic-bezier(.52,.08,.28,2.52);
}

#aboutyou:hover,
#unibremen:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#aboutyou:visited,
#unibremen:visited {
    color: #fff;
}

@viewport {
    zoom: 1;
    width: extend-to-zoom
}

@media only screen and (max-width:480px) {
    section {
        padding: 5vw 5vh;
        min-height: 100vh;
    }

    .desktop {
        display: none;
    }

    .mobile{
        display: inline;
    }

    .card {
        margin: 5vh 0
    }

    .definitions {
        margin-left: 0
    }
}