:root {
    --font-color: #666;
	--bg-color: #fff;
	--bg-color-2: #fafafa;
	--heading-color: #333;
	--nav: rgba(0, 0, 0, 0.1);
	--nav-highlight: rgba(255, 255, 255, 0.75);

}

[data-theme="dark"] {
    --font-color: #ccc;
	--bg-color: rgb(21, 21, 21);
	--bg-color-2: #222;
	--heading-color: #fff;
	--nav: rgba(0, 0, 0, 0.5);
	--nav-highlight: rgba(255, 255, 255, 0.1);
}

body, p {
	font-family: 'Jost', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5rem;
	color: var(--font-color);
	position: relative;
	margin: none;
}

body {
	background-color: var(--bg-color);
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 5.5em;
	color: var(--heading-color);
	line-height: 1;
	margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: var(--heading-color);
	font-size: 3.5rem;
	margin-block-start: 0rem;
    margin-block-end: 2rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    line-height: 1;
    letter-spacing: 0;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
}

b {
	font-family: 'Jost', sans-serif;
	font-weight: 700;
}

ul > li {
	font-family: 'Jost', sans-serif;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-behavior: smooth;
	scroll-snap-align: start;
	position: relative;
	overflow: hidden;
	padding: 5vw 10vw;
}

img {
	width: 95%; 
	height: auto;
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.overlay {
	position: fixed;
	z-index: 10;
}

.logo > img{
	padding: 1rem 0.5rem;
	height: 2rem;
	width: 2rem;
	margin: 0;
}

.navigation {
	top: 0;
	height: 100vh;
	backdrop-filter: blur(30px) saturate(125%);
	background-color: var(--nav);
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
	transform: scale(1);
	-webkit-box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 5);
    -moz-box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 5);
    box-shadow: 10px 10px 50px -30px rgba(0, 0, 0, 5);
}

.buttons {
	position: absolute;
	bottom: 0;
	width: 3rem;
}

.icon-button {
	display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    width: 3rem;
    line-height: 3rem;
	text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.icon-button:hover{
	background-color: var(--nav-highlight);
}

.icon-button .fa-linkedin-in {
    color: #0077b5
}

.icon-button .fa-xing {
    color: #026466
}

.icon-button .fa-envelope-open-text {
    color: #ce3739
}

.icon-button .fa-dribbble {
    color: #ea4c89
}

.icon-button .fa-moon {
    color: #F39237
}

.scroll {
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px) saturate(125%);
    bottom: 2rem;
    left: 45%;
    text-align: center;
    border-radius: 1.5rem;
    -webkit-animation: bounce 2s infinite 2s;
    -moz-animation: bounce 2s infinite 2s;
    -o-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    transform: scale(1)
}

.scroll i {
    color: #ce3739;
    height: 3rem;
    width: 3rem;
    left: 0;
    line-height: 3rem
}

.tag-container {
	display: flex;
}

.tag {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1rem; 
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	margin: 0.25rem;
	color: #fff;
	width: auto;
}

.tag:first-child {
	margin-left: 0;
}

.pure-g [class*=pure-u] {
	font-family: 'Poppins', sans-serif;
}


.red {
	background-color: #CE3739;
}

.blue{
	background-color: #227E7B;
}

.green{
	background-color: #33A82D;
}

.purple{
	background-color: #47328F;
}

.yellow{
	background-color: #D07B37;
}

.grey {
	background: var(--bg-color-2);
}

.centered {
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.sticky-note-pink {
	border-top-color: #EE878A;
	border-top-style: solid;
	border-top-width: 2rem;
	width: 10rem;
	min-height: 8rem;
	padding: 0.5rem;
	color: #000;
	background: #F5CDCE;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);	
}

.sticky-note-red {
	border-top-color: #CE373B;
	border-top-style: solid;
	border-top-width: 2rem;
	width: 10rem;
	min-height: 8rem;
	padding: 0.5rem;
	color: #000;
	background: #EE878A;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);	
}

.sticky-note-beige {
	border-top-color: #F0B688;
	border-top-style: solid;
	border-top-width: 2rem;
	width: 10rem;
	min-height: 8rem;
	padding: 0.5rem;
	color: #000;
	background: #F7E1CF;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);	
}

.sticky-note-yellow {
	border-top-color: #D07B37;
	border-top-style: solid;
	border-top-width: 2rem;
	width: 10rem;
	min-height: 8rem;
	padding: 0.5rem;
	color: #000;
	background: #F0B688;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);	
}

.sticky-note-green {
	border-top-color: #72C26E;
	border-top-style: solid;
	border-top-width: 2rem;
	width: 10rem;
	min-height: 8rem;
	padding: 0.5rem;
	color: #000;
	background: #A9C8A7;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);	
}

.pure-u-lg-1-2 > p {
	width: 90%;
}

.button {
	background-color: #CE3739;
	border: none;
	color: white;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	margin: 0.5rem;
	margin-left: 0;
	cursor: pointer;
	transition: all .2s ease-in-out; 
}

.button:hover {
	transform: scale(1.1);
}

#up {
	cursor: pointer;
	box-shadow: 0 0 4em rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(30px) saturate(125%);
	opacity: 0.75;
}

#up:hover {
	opacity: 1;
}

#down {
	cursor: pointer;
	box-shadow: 0 0 4em rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(30px) saturate(125%);
	opacity: 0.75;
}

#down:hover {
	opacity: 1;
}

@keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px)
	}

	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px)
	}

}

@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}

@media only screen and (max-width:480px) {
	.responsive-br {
		display: none;
	}

	h1 {
		font-size: 2em;
	}


	h2, h3 {
		font-size: 1.5em;
	}

	.desktop {
		display: none;
	}

}